mixin dashboardMenu(user)
    .dashboardMenu
        .menu
            p#btnNewProject.btn New Project
            ion-icon(name='settings-outline')
        .projectsList
            each project in projects || []
                .project
                    p.project__name= project.projectName
                    p.project__desc= project.projectDescription
                    .options
                        - HrefLink = '/project/' + project.id
                        a(href=HrefLink)
                            ion-icon(name='create-outline' id=project.id title="Open Project")
                        ion-icon(name='hammer-outline' id=project.id title="Edit Project")
                        ion-icon(name='trash-outline' id=project.id title="Delete Project")

    .newProject
        h3 New Project
        ion-icon(name='close-outline')
        form(action="/project/new" method="POST")
            .form-group
                label(for="projectName") Project Name
                input#projectName.form-control(type="text" name="projectName" placeholder="Project Name")
            .form-group
                label(for="projectDescription") Project Description
                input#projectDescription.form-control(type="text" name="projectDescription" placeholder="Project Description")
            .form-group
                label(for="projectType") Project Type
                select#projectType.form-control(name="projectType")
                    option(value="1") Web
                    option(value="2") Mobile
                    option(value="3") Desktop
            button.btn(type="submit") Create Project

    script(src="/js/btnNewProject.js") 
